html, body {
				
                width: 50px;
                height: 50px;
                margin: 0px;
                padding: 0px;

                
            }
.chat-name, .chat-textarea{
	background: none;
}

.chat{
	background-image:url('../Images/chicken.jpg'); 
	background-repeat: no-repeat;
	padding: 50px;
	max-width:314px;
	width: 100%
	height:100%;
}

body,
textarea,
input{
	font:13px "Trebuchet MS", sans-serif;
}

.chat-textarea,
.chat-messages,
.chat-name{
	border:1px;
}

.chat-messages{
	width:208px;
	height: 310px;
	overflow-y:auto;
	overflow-y: hidden;

}

.chat-messages:hover{
	overflow-y:scroll; 
}




.chat-message{
	margin-bottom: 10px;
}

.chat-name{
	width: 100%;
	padding: 5px;
	margin:0;
	color:white;
}

.chat-textarea{
	width: 100%;
	padding: 10px;
	margin:0;
	border-top: 0;
	max-width: 100%;
}

.chat-status{
	color:blue;
	padding: 70px;

}

.chat-textarea,
.chat-name{
	outline: none;
}